{%extends "home.html"%}
{%block body%}
    <!--Main-->
<div class="w-full flex block flex-grow flex-wrap w-auto">


    <!--Info row-->
    <div class=" flex w-full flex-wrap text-white m-5">
        <h1 class="w-full text-5xl font-bold "> Current Sponsors:</h1>
        <ul class="list-disc">
            <li>Coffman</li>
            <li>
                Erik Williams
            </li>
            <li>
                beadedstream
            </li>
            <li>
                Dean Franklin
            </li>
            <li>
                Sean Gwaltney
            </li>
            <li>
                Jacobo Franco
            </li>
            <li>
                Antonio Pennell
            </li>
            <li>
                Robert and Melissa Branch
            </li>
            <li>
                Virginia and Mark Groeschel
            </li>
            <li>
                Steven and Jennifer Buchanan
            </li>
            <li>
                Jayna and Sam Combs
            </li>
            <li>Billy Redman</li>
        </ul>
    </div>

    <!--money raised at events-->
    <div class="flex w-full flex-wrap items-center m-5 px-5 bg-yellow rounded-lg">
        <div class="flex w-full md:w-2/5 flex-wrap text-white p-5">
            <ul class="list-disc">
                <li>
                    Innertube Water Polo Event 10/13/2022 - won $150
                </li>
                <li>
                    Bake Sale 11/5/22 @ Pack the House UAA Volleyball Game - raised $494.04 and won $500
                </li>
                <li>Bake Sale 12/2&3/22 @ UAA Hockey Games - raised $510.17</li>
            </ul>
        </div>

    </div>
    {%endblock%}

    <!--Footer-->
    <p class="w-full py-10 text-sm text-center text-white">
        Website created by the 2022/2023 UAA Robotics Web Development Team
    </p>

</div>
