<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>UAA Robotics</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="leading-normal tracking-normal bg-cover bg-teal-900 text-white" >
    <div>
        <h1 class="text-3xl">People in Robotics</h1>

        

        <!--Alternative test queries using customer db-->
        {% for individual in person.find() %}
        <p> Name: {{ individual["Fname"] }} {{ individual["Lname"] }} | UAA ID: {{ individual["UA_ID"] }}</p>
        {% endfor %}  

        <!--
        {% for customers in person.find() %}
        <p> Name: {{ customers["name"] }} {{ customers["address"] }} | UAA ID: {{ customers["username"] }}</p>
        {% endfor %}  
        -->

       


    
        
    </div>

    </body>
</html>