<html>
   <body>
      <form action = "/login" method = "POST">
          <p>Username: <input type="text" id="name"></p>
          <p>Password: <input type="password" id="password"></p>
          <p>Verify Password: <input type="password" id="password"></p>

          <p>First Name: <input type="text" id="first_name"></p>
          <p>Last Name: <input type="text" id="last_name"></p>

          <p>Email: <input type="text" id="email"></p>
          <p>Phone: <input type="text" id="phone"></p>
          <p>Date of Birth: <input type="date" id="birthday"></p>
          <p>Major (If Applicable): <input type="text" id="major"></p>
          <p>Ethnicity: <input type="text" id="ethnicity"></p>
          <p>Gender: <input type="text" id="gender"></p>
          <p>discord handle: <input type="text" id="discord"></p>
          <p>github: <input type="text" id="github"></p>
          <input type="submit" value="Create New User!">
      </form>
   </body>
</html>