
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>UAA Robotics</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <!--

         <!- -Left Panel -->
        <aside class="flex flex-wrap md:fixed w-full md:h-screen md:w-1/5 p-5 bg-gray-200 shadow-lg">
            Stuff Here
        </aside>
        <!--Main Body-->
        <div class="flex flex-wrap ml-auto mb-auto w-full md:w-4/5 p-5 items-start justify-start">
            <table class="table-auto rounded-lg bg-white outline outline-offset-4">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Student</th>
                    </tr>
                </thead>
                <tbody>
                    {%for task in tasks.find()%}
                    <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                        <td>{{task["Deadline"]}}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{task["Title"]}}</td>
                        <td>{{task["DOD"]}}</td>
                        <td>
                        <form action="/task_listing" method="post" id="statsub">
                            <select name="Status" id="Status" class="Status">
                                <option value="{{task["Status"]}}" selected>{{task["Status"]}}</option>
                                {%for option in options%}
                                {%if option != task["Status"]%}
                                <option value="{{option}}">{{option}}</option>
                                {%endif%}
                                {%endfor%}
                            </select>
                            <input hidden="hidden" value="{{ task["_id"]}}" name="ObjectID">
                        </form>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <!--Alternative test queries using customer db-->
            <!--
                {% for customers in people.find() %}
                <p> Name: {{ customers["name"] }} {{ customers["address"] }} | UAA ID: {{ customers["username"] }}</p>
                {% endfor %}
            -->
    </div>

    <script type="text/javascript">
        var options = document.getElementsByClassName("Status");

        for(let i = 0; i < options.length; i++){
            options[i].addEventListener("change", function(){
            var form = this.closest("form");

            form.submit();
            })
        }

    </script>
    </body>
</html>